@model EKM_Project.Models.Customer
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="AdminPage">
    <div class="navBar">
        <h2 class="logoText">Administration</h2>
        <button class="btn btn-default returnBtn">@Html.ActionLink("Return to Front-end", "Index", "Home")</button>
    </div>

    <div class="sideBarCont">
        <div class="sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" >@Html.ActionLink("Cakes", "Index", "Admin")</li>
                <li role="presentation" class="active">@Html.ActionLink("Customers", "Index", "Customer")</li>
            </ul>
        </div>
        <div class="content">
            @using (Html.BeginForm())
            {

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="alert alert-info" role="alert">
                                <a href="#" class="alert-link">All fields are required!</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <button class="btn btn-default">@Html.ActionLink("Back to List", "Index", "Customer")</button>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

