@model IEnumerable<EKM_Project.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="AdminPage">
    <div class="navBar">
        <h2 class="logoText">Administration</h2>
        @Html.ActionLink("Return to Front-end", "Index", "Home", new { }, new { @class = "btn btn-default returnBtn" })    </div>

    <div class="sideBarCont">
        <div class="sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" >@Html.ActionLink("Cakes", "Index", "Admin")</li>
                <li role="presentation" class="active">@Html.ActionLink("Customers", "Index", "Customer")</li>
                <li role="presentation">@Html.ActionLink("Orders", "Index", "Order")</li>
            </ul>
        </div>
        <div class="content">
            <table id="your_cakes" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th >@Html.DisplayNameFor(model => model.Id)</th>
                    <th >@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th >@Html.DisplayNameFor(model => model.LastName)</th>
                    <th width="60px">@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>

                    <th>Modify</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="10px">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        @{
                            var dob = item.DateOfBirth.ToString("d");
                        }
                        <td width="20px">@Html.DisplayFor(modelItem => dob)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td width="140px">
                            @Html.ActionLink("Edit", "EditCustomer", "Customer", new { id = item.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Delete", "Delete", "Customer", new { id = item.Id }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

