@model IEnumerable<EKM_Project.Models.Cake>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="AdminPage">
    <div class="navBar">
        <h2 class="logoText">Administration</h2>
        @Html.ActionLink("Return to Front-end", "Index", "Home", new { }, new { @class = "btn btn-default returnBtn" })
    </div>

    <div class="sideBarCont">
        <div class="sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active">@Html.ActionLink("Cakes", "Index", "Admin")</li>
                <li role="presentation">@Html.ActionLink("Customers", "Index", "Customer")</li>
                <li role="presentation">@Html.ActionLink("Orders", "Index", "Order")</li>
            </ul>
        </div>
        <div class="content">
            @Html.ActionLink("Add a Cake", "Add", "Admin", "", new {@class = "btn btn-primary addCakeBtn"})
            <table id="your_cakes" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.CakeName)</th>
                    <th>@Html.DisplayNameFor(model => model.CakeDescription)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>

                    <th>Modify</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.CakeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.CakeDescription)</td>
                        <td>£@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>
                            @Html.ActionLink("Edit", "EditCake", "Admin", new { id = item.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Delete", "Delete", "Admin", new { id = item.Id }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

