<head>
    <title>Administration</title>
    @Styles.Render("~/Content/admincss")
</head>
<body>

@RenderBody()

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", required: false)
</body>

    