@using System.Web.UI.WebControls
@model EKM_Project.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="centerRegister">
    
    <div class="jumbotron jumbotron-register">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="alert alert-info">Register</h3>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control center-block", placeholder="Email Address"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control center-block", placeholder = "Password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control center-block", placeholder = "Confirm Password" })
                </div>
            </div>  

            <input type="submit" class="btn btn-primary btn-block center-block" value="Register"/>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
